<% url = Blog.instance.facebook_page_url %>
<div class="fb-page" data-href="<%= url %>" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="<%= url %>"><a href="<%= url %>">Facebook</a></blockquote></div></div>
