<% url = CGI.escape(feed_url) %>
<a href='http://cloud.feedly.com/#subscription%2Ffeed%2F<%= url %>' target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-big_2x.png' alt='follow us in feedly' width='131' height='56'></a>
