$editor-header-height: 185px;
$editor-footer-height: 52px;
$editor-toolbar-height: 30px;

#editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  textarea {
    resize: none;
  }

  .editor-header {
    height: $editor-header-height;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .editor-body {
    position: absolute;
    top: $editor-header-height;
    bottom: $editor-footer-height;
    left: 0;
    right: 0;

    .editor-body-left {
      width: 50%;
      position: absolute;
      top: $editor-toolbar-height;
      bottom: 0;
      left: 0;
      right: 50%;

      #wmd-button-bar-body {
        position: absolute;
        top: -$editor-toolbar-height;
      }
    }

    .editor-body-right {
      width: 50%;
      position: absolute;
      top: $editor-toolbar-height;
      bottom: 0;
      left: 50%;
      right: 0;
    }

    .wmd-input,
    .wmd-preview {
      width: 100%;
      height: 100%;
      max-height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }

  .editor-footer {
    padding: 10px;
    height: $editor-footer-height;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: 768px) {
    .row {
      margin-left: 0;
      margin-right: 0;

      .col-sm-6 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
