#entry .created_at {
  font-size: 120%;
}

#entry .body,
.wmd-preview {
  margin-bottom: 50px;
  font-size: 120%;
  line-height: 2;

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: #1a6dab;
    }

    &:link,
    &:visited {
      text-decoration: underline;
    }

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  pre a,
  h1 a,
  h2 a,
  h3 a,
  h4 a {
    &:link,
    &:visited {
      color: #333;
      text-decoration: none;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

#user .name {
  font-size: 130%;
  font-weight: bold;

  a {
    text-decoration: none;

    &:link,
    &:visited {
      color: #333;
      border-bottom: 1px solid #333;
    }

    &:hover,
    &:active {
      color: #f1832c;
      border-bottom: 0;
    }
  }
}

.entries {
  .media {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #eee;
  }

  h4.media-heading {
    padding: 0;
    padding-bottom: 10px;
    font-size: 150%;
    border: none;

    a {
      color: #333;
    }
  }

  .media-body {
    padding-bottom: 10px;
  }

  .media-footer {
    ul li {
      line-height: 40px;
      font-size: 120%;
    }

    ul.pull-right li {
      font-weight: bold;
    }

    ul:not(.pull-right) li {
      a {
        color: #333;
      }
    }
  }
}
