#entry .created_at {
  font-size: 120%;
}

#entry .body {
  margin-bottom: 50px;
  font-size: 120%;
  line-height: 250%;

  a:before {
    margin-right: 3px;
    @include glyphicon('share');
  }

  pre a,
  h1 a,
  h2 a,
  h3 a,
  h4 a {
    color: #333;

    &:before {
      margin-right: 0;
      content: '';
    }
  }
}
