$footer-height: 200px;

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #fff;
  color: #333;
  font-family: '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.container.with-footer {
  margin-bottom: $footer-height;
}

#notice {
  color: green;
}

main {
  margin-bottom: 50px;
}

aside {
  margin-bottom: 50px;
}

footer {
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 60px 0 25px;
  line-height: 1.25;
  font-weight: bold;
}

h2 {
  padding: 20px 18px;
  background-color: #f3f3f3;
  border-radius: 10px;
}

h3 {
  padding: 18px 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

h4 {
  padding-left: 20px;
  line-height: 2;
  border-left: 1px solid #333;
}

.CodeRay pre {
  padding: 0;
  font-size: 90%;
  line-height: 1.75;
  background: none;
  border: 0;
}

a.btn-new-entry {
  @extend .btn;
  @extend .btn-warning;

  $btn-new-entry-color: #fff;
  $btn-new-entry-bg: #044065;
  $btn-new-entry-border: darken( $btn-new-entry-bg, 10%);
  $btn-new-entry-hover-bg: $btn-warning-bg;
  $btn-new-entry-hover-border: $btn-warning-border;

  margin: 5px 10px;
  padding: 8px 10px !important;
  color: $btn-new-entry-color !important;
  background-color: $btn-new-entry-bg;
  border-color: $btn-new-entry-border;

  &:hover,
  &:active,
  &:focus {
    color: $btn-danger-color;
    background-color: darken($btn-new-entry-hover-bg, 10%) !important;
    border-color: darken($btn-new-entry-hover-border, 15%);
  }
}

a.btn-next-page {
  @extend .btn-new-entry;
  @extend .btn-lg;
  padding: 10 50px !important;
}

#ads ul li {
  margin-bottom: 10px;

  img {
    width: 100%;
  }
}

#categories {
  h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 120%;
  }

  .list-group-item {
    font-size: 110%;
    border: none;
  }

  .list-group-item.child {
    padding-left: 40px;

    .fa {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
